*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f7ff;
    color: #0a2342;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0a2342;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}