
.education-page{
 max-width: 1100px;
 margin: 0 auto;
 padding: 70px 24px 90px;
}

.topbar{
    display: flex;
    justify-self: space-between;
    align-items: flex-start;
    gap:18px;
    margin-bottom: 26px;
}

.breadcrumbs{
    font-size: 14px;
    opacity: 75;
    margin-bottom: 6px;
}

.page-title{
    font-size: 52px;
    font-weight: 900;
    margin: 0 0 10px 0;
}